* {
  box-sizing: border-box;
}

:root {
  --level: '1';
  --speedX: 4s;
  --speedY: 7.4s;
  --scale: 1;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* For debugging */
/* input {
  position: relative;
  z-index: 999;
} */

#overlay {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}

#overlay:active {
  --scale: 1;
  background-color: #f8686878;
}

.level {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; /* Hide all levels */
}

.level__info {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255,255,255, 0.6);
  display: inline-block;
  padding: 10px;
}

.level__info::after {
  content: var(--level);
  display: inline-block;
}

@keyframes moveX {
  from {
    left: -15px;
  }
  
  to {
    left: calc(100% - 85px);
  }
}

@keyframes moveY {
  from {
    top: -30px;
  }
  
  to {
    top: calc(100% - 70px);
  }
}

.bird {
  z-index: 3;
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transform: scale(var(--scale));
  animation: moveX var(--speedX) linear 0s infinite alternate, moveY var(--speedY) linear 0s infinite alternate;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.bird:active {
  --scale: calc(var(--scale) - 0.5);
  opacity: 0.7;
}

.bird svg {
  width: 100%;
  height: 100%;
}

